стрируясь на соревнование, вы подтверждаете, что вы:

* ознакомились с правилами соревнований на по ссылкам 
http://codeforces.ru/blog/entry/456 и 
http://codeforces.ru/blog/entry/4088;
* не будете нарушать правила, описанные в 
http://codeforces.ru/blog/entry/456 и/или 
http://codeforces.ru/blog/entry/4088;
* не будете общаться с другими участниками, обмениваться идеями решений, взломов;
* будете использовать только полностью лично написанный код за исключением кода, попадающего под исключения, описанные в 
http://codeforces.ru/blog/entry/8790;
* не будете пытаться осуществлять намеренные попытки по дестабилизации процесса тестирования и пытаться взломать систему соревнований в любой форме;
* не используете несколько аккаунтов, а в соревновании принимаете участие со своего личного и единственного аккаунта.
              